@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #1C1C1C;
  --foreground_light: #3D3D3D; 
  --footer: #1D0A0A;

  --cards: #D2D2D2;

  --accent: #1C1C1C;
  --accent_dark: #B85128;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #03000F;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


