@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E0E0E0;
  --foreground: #000000;
  --foreground_light: #3D3D3D; 

  --accent: #D36336;
  --accent_dark: #B85128;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E0E0E0;
    --foreground: #03000F;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


